<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Plus | Track water with ease</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link rel="icon" href="static/images/favicon.svg">
    <%- include("header") %>
</head>
<body>
    <%- include("navbar") %>
    <section>
        <h2>Water Tracker and Reminder</h2>

        <form id="goal-form" class="group">
            <h3>Your Goal</h3>
            
            <fieldset class="goal-amounts">
                <legend>How much water do you want to drink a day?</legend>
                <label for="male-goal"><input checked name="water-goal" type="radio" id="male-goal" class="goal-check" value="15.5">15.5 Cups / 3.7 Liters</label>
                <label for="female-goal"><input name="water-goal" type="radio" id="female-goal" class="goal-check" value="11.5">11.5 Cups / 2.7 liters</label>
                <label for="custom-goal"><input name="water-goal" type="radio" id="custom-goal" class="goal-check" value="0"><div class="num" onclick="change(this, -1)">-</div><input type="number" id="custom-goal-input" min="1" max="30" value="14"><div class="num" onclick="change(this, 1)">+</div></label>
            </fieldset>
            

            <fieldset class="time-goals">
                <legend>Choose your goal times</legend>
                <label>Wake Time
                <input type="time" id="wake-input" value="08:00">
                </label>

                <label>End of Drinking Window
                    <div>
                        <div class="num" onclick="change(this, -1)">-</div>
                        <input type="number" id="stop-hours-input" value="2" min="0" max="5">
                        <div class="num" onclick="change(this, 1)">+</div>
                    </div>
                </label>

                <label>Sleep Time
                <input type="time" id="sleep-input" value="22:00">
                </label>
            </fieldset>
            <!--
            <label for="">Set your drink increments
            <input type="number" id="drink-increments" value="1" min="1">
            </label>-->
            
        </form>
        <section class="group">
    
            <h3>Your Schedule</h3>
            <div><%- include("goalDisplay") %></div>
            <p>Hours / Day</p>
        </section>
    </section>

    <script src="static/scripts/coreFunctions.js"></script>
    <script src="static/scripts/script.js"></script>
    
</body>
</html>