<span class="scroll-indicator">>></span>
<p id="goal-display"></p>

<div id="schedule-visual">
    <div id="time-blocks"></div>
    <div id="bg-grid"></div>
</div>


<script src="static/scripts/goalDisplay.js"></script>