<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
</head>
<body>
    <div>
        <div class="header-content">
            <%- include("navbar") %>

            <div>
                <h1>We make tracking<br> water easy</h1>
                <h3>Give us your goals, and get a water schedule instantly. Tracking has never been easier, all it takes is one click of a button.</h3>
            </div>
        </div>
        <div class="background-container"></div>
    </div>
    <section>
        <h2>Here's how it's done</h2>
    </section>
    
</body>
</html>