<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Plus | Track water with ease</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <link rel="icon" href="static/images/favicon.svg">
    <%- include("header") %>
</head>
<body>
    <div>
        <div class="header-content">
            <%- include("navbar") %>

            <div>
                <h1>We make tracking<br> water easy</h1>
                <h3>Give us your goals, and get a water schedule instantly. Tracking has never been easier, all it takes is one click of a button.</h3>
                <div>
                    <a class="gradient-bg btn" href="/goal">Create Goal</a>
                </div>
            </div>
        </div>
        <div class="background-container"></div>
    </div>
    <section class="home-cont">
        <h2>Here's how it's done</h2>
        <div>
            <h3>Step 1</h3>
            <h1>Create Your Goal</h1>
        </div>
        <div class="video-image-bg">
            <div class="display-video">
                <video autoplay loop playsinline muted>
                    <source src="static/videos/Goal Demo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <section class="group">
            <h2>Enter your goal:</h2>
            <p>Choose from the premade male and female recommended, or create a custom one based on your needs!</p>
            <div class="image-cont goal-display">
                <h3>Male Daily Recommended</h3>
                <h3>Female Daily Recommended</h3>
                <h3>Your Custom Goal</h3>
                <img src="static/images/Goals Example.png">
            </div>
            <h2>Set important times:</h2>
            <p>Decide when you want to wake, how early you want to stop drinking, and when you plan to sleep! Then let us do the rest</p>
            <div class="image-cont" style="margin-bottom: 2rem;">
                <img src="static/images/Time Displays.png">
            </div>
        </section>
        <div>
            <h3>Step 2</h3>
            <h1>Start Tracking</h1>
        </div>
        <div class="video-image-bg">
            <div class="display-video tracker-demo">
                <video autoplay loop playsinline muted>
                    <source src="static/videos/Tracker Demo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <section class="group">
            <h2>Track your water consumption:</h2>
            <p>Simple buttons used to change your current water progress to stay on track!</p>
            <div class="image-cont tracker-display">
                <h3>Remove Water</h3>
                <h3>Fractional Water</h3>
                <h3>Add Water</h3>
                <img src="static/images/Tracker Display.png">
            </div>
            <h2>Know where you need to be:</h2>
            <p>The day visual allows you to see what time it is and how much water you should have drank!</p>
            <div class="image-cont" style="margin-bottom: 2rem;">
                <img src="static/images/Todays Data Display.png">
            </div>
            <h2>See the year at a glance:</h2>
            <p>Know how your habit is holding up, by looking at the year summary</p>
            <div class="image-cont" style="margin-bottom: 2rem;">
                <img src="static/images/Total Progress Display.png">
            </div>
            <h2>Like seeing more details? Look at the extra data section</h2>
            <p>Understand how you are doing overall and where you will be going in the future!</p>
            <div class="image-cont" style="margin-bottom: 2rem;">
                <img src="static/images/Extra Data Display.png">
            </div>
        </section>
    </section>
    
</body>
</html>