<script src="https://kit.fontawesome.com/45743c6752.js" crossorigin="anonymous"></script>
<nav>
    <div id="logo">
        <a href="/"><i class="fa-solid fa-glass-water"></i></a>
    </div>
    <div id="nav-btns">
        <a class="btn" href="/goal">Goal</a>
        <a class="btn" href="/progress">Progress</a>
    </div>
</nav>
