<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <script src="https://kit.fontawesome.com/45743c6752.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("navbar") %>
    <section>
        <h1>Your Progress</h1>
        
        <section class="group">
            <div id="total-water-pie">
                <h1 id="total-water-num">0</h1>
                <p>Cups</p>
            </div>
            <div id="water-controls">
                <button class="btn" value="-1">-1 Cup</button>
                <button class="btn" value="-.5">-0.5 Cup</button>
                <button class="btn" value=".5">+0.5 Cup</button>
                <button class="btn" value="1">+1 Cup</button>
            </div>
        </section>
        <section class="group">
            <div class="goal-progress-cont">
                <div id="time-background"></div>
                <%- include("goalDisplay") %>
                <div id="time-tracker">
                    <i class="fa-solid fa-caret-up" id="time-nob"></i>
                </div>
            </div>
        </section>
    </section>
    

    <script src="static/scripts/coreFunctions.js"></script>
    <script src="static/scripts/progress.js"></script>
    
</body>
</html>