<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
    <script src="https://kit.fontawesome.com/45743c6752.js" crossorigin="anonymous"></script>
    <icon src="static/images/favicon.svg"></icon>
</head>
<body>
    <%- include("navbar") %>
    <section>
        <h2>Your Progress</h2>
        <!--<input type="date" id="date-test">-->
        <section class="group">
            <div class="pie-chart" id="total-water-pie">
                <h2 id="total-water-num">0</h2>
                <p>Cups</p>
            </div>
            <div id="water-controls">
                <button class="btn" value="-1">-1 Cup</button>
                <button class="btn" value="-.5">-0.5 Cup</button>
                <button class="btn" value=".5">+0.5 Cup</button>
                <button class="btn" value="1">+1 Cup</button>
            </div>
        </section>
        <section class="group">
            <div class="goal-progress-cont">
                <div id="time-background"></div>
                <%- include("goalDisplay") %>
                <div id="time-tracker">
                    <i class="fa-solid fa-caret-up" id="time-nob"></i>
                </div>
            </div>
        </section>
        <section class="group">
            <div id="year-progress-changer">
                <i class="fa-solid fa-arrow-left" onclick="changeYear(-1, this)"></i>
                <p>2024</p>
                <i class="fa-solid fa-arrow-right" onclick="changeYear(1, this)"></i>
            </div>
            <div id="year-progress-visual">

            </div>
        </section>
        <section class="block-group">
            <section class="group days-completed-visual">
                <h2><span id="display-completed">1</span>/<span id="display-days">2</span></h2>
                <p>Days Goal was Reached</p>
            </section>
            <section class="group">
                <div class="pie-chart" id="average-water-pie">
                    <h2><span id="average-water-num">0</span>%</h2>
                    <p>Completion on</p><p>Average</p>
                </div>
            </section>
            <section class="group cups-prediction">
                <h2><span id="display-drank">1</span> Cups</h2>
                <p>Drank so Far</p>
                <h2><span id="display-drank-prediction">1</span> Cups</h2>
                <p>Predicted Over Next 365 Days</p>
                <!--<p>Roughly <span id="avg-shower"></span> Showers</p>
                <P>Roughly <span id="avg-car"></span> Cars</P>-->
            </section>
        </section>
    </section>
    

    <script src="static/scripts/coreFunctions.js" nonce={{res.local.nonce}}></script>
    <script src="static/scripts/progress.js" nonce={{res.local.nonce}}></script>

    
    
</body>
</html>