@import url("https://api.fontshare.com/v2/css?f[]=quilon@400,500,600,700,1&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");

:root {
    --primary: #88ffe2;


    --font-secondary: 'Satoshi', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: var(--font-secondary);
}

body {
    background-color: rgb(11, 11, 11);
    color: rgb(229, 229, 229);
    padding: 2rem;

}

body>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: max(100vh, 800px);
    margin: 0 auto;
}

h1 {
    font-family: 'Quilon', sans-serif;
    font-size: 2em;
}

.group {
    
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}





fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

label {
    color: rgb(176, 176, 176);
}



#schedule-visual {
    width: calc(24rem*2);
    height: 4rem;
    position: relative;
}

#schedule-visual > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    
}


#time-blocks {
    z-index: 3;
    
    
}

.schedule-section {
    background: var(--primary);  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: .2rem;

    height: 2.5rem;
    border-radius: 1rem;
    width: 1rem;
    
    animation: slideIn .5s ease forwards;
    opacity: 0;
    transform: translateY(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-section.completed {
    background-color: rgb(27, 110, 183);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.schedule-section p {
    color: #121212;
    font-weight: bold;
    font-size: .7em;
}

.background-grid {
    position: absolute;
    z-index: 1;
    border: solid rgb(31, 25, 56);
    border-width: 0 1px;
    width: 2rem;
    height: 4rem;
    display: flex;
    align-items: end;
    padding: .2rem;
    transition: .3s ease;
}

.background-grid p {
    color: rgb(177, 195, 215);
    font-size: .5em;
    
}


/* PROGRESS PAGE STYLES */
#time-tracker {
    width: calc(24rem * 2);
    height: 1rem;
}

.goal-progress-cont {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: relative;

}

#time-nob {
    transition: 1s ease-out;
    transform: translate(calc(-50% + .5px));
}

#time-background {
    transition: 1s ease-out;
    width: 0rem;
    position: absolute;
    background-color: rgb(31, 25, 56);
    height: 4rem;
}

:root {
    --border-completion: 0deg;
}

#total-water-pie {
    text-align: center;
    width: 16rem;
    height: 16rem;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
}

#total-water-pie::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    transition: 1s ease;
    background: conic-gradient(white calc(var(--border-completion)), rgb(53, 52, 57) var(--border-completion));
    mask: radial-gradient(farthest-side, #0000 calc(99% - 2rem), #000 calc(100% - 2rem));
}

/*#total-water-pie::after {
    content: " ";
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    z-index: 1;
    inset: calc(50% - 2rem/2);
    transform: rotate(calc(2rem * 3.6deg));
    background-color: white;
}*/

#total-water-pie h1 {
    font-size: 3em;
    z-index: 4;
}


.btn {
    border: none;
    padding: .8rem 1.2rem;
    border-radius: 3rem;
    color: black;
    background-color: rgb(95, 76, 181);
    font-weight: bold;
}