@import url("https://api.fontshare.com/v2/css?f[]=quilon@400,500,600,700,1&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 26);
    color: rgb(229, 229, 229);
    padding: 2rem;

}

body>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: max(100vh, 800px);
    margin: 0 auto;
}

h1 {
    font-family: 'Quilon', sans-serif;
    font-size: 2em;
}

.group {
    background-color: rgb(30, 30, 30);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    transition: .3s ease;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.group:hover {
    scale: 1.1;
}




fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

label {
    color: rgb(176, 176, 176);
}


#schedule-visual {
    width: calc(24rem*2);
    height: 4rem;
    
    position: relative;

}

#schedule-visual > div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    
}


#time-blocks {
    z-index: 3;
    
    
}

.schedule-section {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    height: 2.5rem;
    border-radius: 1rem;
    width: 1rem;
    
    animation: slideIn .5s ease forwards;
    opacity: 0;
    transform: translateY(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.schedule-section p {
    color: white;
    font-size: .7em;
}

.background-grid {
    position: absolute;
    z-index: 1;
    border: 1px rgb(173, 173, 173);
    border-style: none solid;
    width: 2rem;
    height: 4rem;
    display: flex;
    align-items: end;
    padding: .2rem;
    transition: .3s ease;
}

.background-grid p {
    color: gray;
    font-size: .8em;
    
}